body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2957px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:127px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:21px;
  width:295px;
  height:127px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:310px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1970px;
  top:16px;
  width:987px;
  height:310px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:267px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:1970px;
  top:371px;
  width:843px;
  height:267px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:690px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1169px;
  width:1044px;
  height:690px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1039px;
  width:0px;
  height:0px;
}
#u341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:9px;
  height:8px;
}
#u341_seg1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-4px;
  width:8px;
  height:130px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:524px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:1169px;
  width:968px;
  height:524px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:1037px;
  width:0px;
  height:0px;
}
#u343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:177px;
  height:8px;
}
#u343_seg1 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-4px;
  width:8px;
  height:175px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:2573px;
  top:16px;
  width:267px;
  height:148px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
