body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:124px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:24px;
  width:295px;
  height:124px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:1081px;
  width:300px;
  height:1248px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:719px;
  width:100px;
  height:290px;
}
#u371_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:290px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:290px;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:30px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:100px;
  height:30px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:30px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:100px;
  height:30px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:30px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:30px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:100px;
  height:30px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
  visibility:hidden;
}
#u384_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u388_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:40px;
  visibility:hidden;
}
#u393_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1018px;
  width:0px;
  height:0px;
}
#u397_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:33px;
}
#u397_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:17px;
  height:8px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:1081px;
  width:300px;
  height:96px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:80px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:1081px;
  width:157px;
  height:80px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:259px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:1171px;
  width:331px;
  height:259px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:1443px;
  width:300px;
  height:141px;
}
#u401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:141px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:1443px;
  width:270px;
  height:116px;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:83px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:35px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:64px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:22px;
  width:83px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:22px;
  width:123px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:119px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:59px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:59px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:57px;
  width:83px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:79px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:57px;
  width:123px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:119px;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:1430px;
  width:21px;
  height:13px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:1610px;
  width:969px;
  height:390px;
}
#u414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:390px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:1651px;
  width:951px;
  height:302px;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:109px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:109px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:187px;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:109px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:190px;
  height:109px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:186px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:109px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:0px;
  width:191px;
  height:109px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:187px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:109px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:0px;
  width:191px;
  height:109px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:187px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:109px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:0px;
  width:188px;
  height:109px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:184px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:112px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:112px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:109px;
  width:190px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:186px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:112px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:109px;
  width:191px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:187px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:112px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:109px;
  width:191px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:187px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:112px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:109px;
  width:188px;
  height:112px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00CC00;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:184px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:81px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:191px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:81px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:221px;
  width:190px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:81px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:221px;
  width:191px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:187px;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:81px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:221px;
  width:191px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:187px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:81px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:221px;
  width:188px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:184px;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:54px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1774px;
  width:129px;
  height:54px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:42px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:1892px;
  width:176px;
  height:42px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFA809;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:1901px;
  width:71px;
  height:23px;
  font-size:18px;
  color:#FFA809;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:1104px;
  width:63px;
  height:16px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:1293px;
  width:63px;
  height:16px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:1493px;
  width:81px;
  height:16px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2292px;
  top:1697px;
  width:81px;
  height:16px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
